@model ItemsListViewModel
<h1>@Model.CurrentCategory</h1>

<div class="text-right upper" >
<h2>Sắp xếp</h2>

<form asp-controller="Item" asp-action="List" method="post" asp-route-category="@Model.CurrentCategory">
<select name="option" id="select1" class="browser-default custom-select" onchange="this.form.submit()" asp-for="itemgenres" asp-items="Model.Genres">
     
   
</select>
</form>
</div>

@foreach (var item in Model.Items)
{
 
    @Html.Partial("ItemOverviewSummary", item)
}
<div class="text-right paged">
@{
    var prevDisabled=!Model.Items.Hasprev ? "disabled" : "";
    var nexDisabled=!Model.Items.Hasnext ? "disabled" : "";
    }
    <p>Page @Model.Items.Pageindex out of @Model.Items.totalpage .</p>
    <a  class="btn btn-default @prevDisabled"
    asp-controller="Item"
    asp-action="List"
    asp-route-option="@Model.itemgenres"
    asp-route-pageIndex="@(Model.Items.Pageindex-1)"
    asp-route-itemgenre="@Model.itemgenres"
    asp-route-category="@Model.CurrentCategory">Previous</a>
    <a class="btn btn-default @nexDisabled"
    asp-controller="Item"
    asp-action="List"
     asp-route-pageIndex="@(Model.Items.Pageindex+1)"
     asp-route-itemgenre="@Model.itemgenres"
     asp-route-category="@Model.CurrentCategory"
     asp-route-option="@Model.itemgenres">Next</a>
</div>